{% load static %}

<nav>
    <div class="form-box nav-box">
    <a href="{% url 'home_page' %}">Главная</a>
    {% if user.is_superuser %}
        <a href="{% url 'user_list' %}">Список пользователей</a>
        <a href="/admin">Админка</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'transcribe' %}">Котики</a>
        <a href="{% url 'todo' %}">ToDo</a>
        <a href="{% url 'snake' %}">Змейка</a>
        <a href="{% url 'converter_view' %}">Конвертер</a>
        <a href="{% url 'converter_api' %}">API</a>
        <a href="{% url 'logout' %}">Выйти</a>
        <a href="{% url 'edit' %}">{{ user.username }}</a>
    {% else %}
        <a href="{% url 'register' %}">Регистрация</a>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    </div>
</nav>