nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6A2C70;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F08A5D;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li:first-child {
    margin-left: 0;
}

nav li:last-child {
    margin-right: 0;
}

nav ul li label {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #B83B5E;
}

nav .logo {
    font-size: 24px;
    margin-right: auto;
}

nav .nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}