@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: url('background.png') no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.form-box {
    position: relative;
    width: fit-content;
    height: fit-content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.nav-box{
    padding: 2px 20px 2px 20px;
    flex-direction: row;
}

h1 {
    font-size: 4em;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .3em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;

}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: max-content;
    height: 32px;
    border-radius: 14px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 450;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

thead {
    color: #fbc1c5;
    background-color: rgb(11 4 23 / 13%);
}

table {
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border-collapse: separate;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /*table-layout: fixed;*/
    /*width:100%*/
}

th,
td {
    max-width: 400px;
    padding: 12px;
    text-align: center;
    word-wrap:break-word;
}

tr:nth-child(even) {
    background-color: rgb(42 42 70 / 10%);
}

tr:hover {
    background-color: rgb(27 8 52 / 30%);
}

.buttons {
    display: flex;
    justify-content: center;
}

p {
    color: #FFFFFF;
}

.errors{
    display: flex;
    flex-direction: column;
}

a {
    color: #F5F5F5;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

.long{
    width: 600px;
}

.column{
    flex-direction: column;
}

.undertable{
    display: flex;
    align-self: flex-end;
}

.clear{
    align-self: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select{
    display: flex;
}

#show_password, #hide_password{
    background-color: transparent;
    color: white;
    position: absolute;
    right: 0;
    top: 10px;
    width: 20px;
    height: 20px;
}

#icon_show, #icon_hide{
    left: -2px;
    top: 4px;
}

.social_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    height: 50px;
    padding: 5px;
}