/* Основной цвет фона */
body {
    background-color: #F08A5D;
}

form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
}

form * {
    box-sizing: border-box;
}

/* Стилизация заголовка формы */
form h2 {
    text-align: center;
    color: #6A2C70;
    margin-bottom: 20px;
}

/* Стилизация полей ввода */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border-color: #6A2C70;
    margin-bottom: 20px;
}

form input[type="number"] {
width: 90px;
padding: 12px;
border-radius: 30px;
border-color: #6A2C70;
margin-bottom: 20px;
}

/* Стилизация кнопки отправки формы */
form input[type="submit"] {
    background-color: #6A2C70;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* Анимация перехода цветов при наведении на кнопку */
form input[type="submit"]:hover {
    background-color: #B83B5E;
}

.form-row {
    margin-bottom: 15px;
}

label {
color: #6A2C70;
display: inline-block;
text-align: center;
margin-right: 10px;
font-family: Cambria, serif;
font-size: 18px;
font-weight: bold;
background-color: #F5F5F5;
padding: 5px 100px;
border-radius: 5px;
}

input[type="text"],
input[type="password"],
button[type="button"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #6A2C70;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button[type="button"].btn-right {
    float: right;
    background-color: #F08A5D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}



table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
    background-color: #6A2C70;
    color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

tr:hover {
    background-color: #ddd;
}

