{% extends 'base.html' %}

{% block title %}
    Инфо
{% endblock %}

{% block content %}
    <div class="form-box">
    {% if errors %}
        <p>{{ errors }}</p>
        <a href="{% url 'register' %}">
            <button type="button">Регистрация</button>
        </a>
    {% elif message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if not user.is_authenticated %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit">Войти</button>
            <input type="hidden" name="login_values" value="{{ login_values }}">
        </form>
    {% endif %}
    {% if delete_id %}
        <form method="POST" action="{% url 'delete' %}">
            {% csrf_token %}
                <button type="submit" value="{{ delete_id }}" name="delete_id">
                    Да
                </button>
            <a href="{% url 'user_list' %}">
                <button type="button">
                    Нет
                </button>
            </a>
        </form>
    </div>
    {% endif %}
{% endblock %}